/* 

TABLE OF CONTENTS : 

1:GENERAL
2:GENERAL HEADER
3:LOGO
4:NAVIGATION LINKS
5:HAMBURGER
6:MAIN GENERAL
7:MAIN TEXTE
8:MAIN IMG
9:FOOTER

*/





/* 1:GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
    width: 90%;
    margin: auto;
    color: white;
}

html {
    font-size:100%;
}

a {
    color: white;
}

/* GENERAL : responsive */

@media screen and (max-width: 1700px) {
    html {
        font-size: 65%;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 530px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 430px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 35%;
    }
}





/* 2:GENERAL HEADER */ 

header {
    display: flex;
    justify-content: space-between;
}

nav {
    height: 15vh;
}

/* GENERAL HEADER: responsive */

@media screen and (max-width: 530px) {
    nav {
        height: 8vh;
    }
}





/* 3:LOGO */

.logo {
    font-family: 'Crimson Pro';
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


.logo p {
    font-size: 1.4rem;
    border: 1px solid #fff;
    padding: 0.75rem 0.5rem;
}

/* LOGO: responsive */

@media screen and (max-width: 530px) {
    .logo p {
        font-size: 2rem;
    }
}





/*  4:NAVIGATION LINKS */

.nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1.8rem;
    padding: 0 2.5rem;
}

.nav-links li:nth-child(1) {
    font-weight: bold;
}





/* 5:HAMBURGER */ 

@media screen and (max-width: 885px) {

    .hamburger {
        height: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .line__hamburger{
        width: 30px;
        height: 3px;
        background: #fff;
        transition: all .5s ease-in-out;
    }

    .line__hamburger::before,
    .line__hamburger::after {
        content: '';
        width: 30px;
        height: 3px;
        background: white;
        position: absolute;
        transition: all .5s ease-in-out;
    }

    .line__hamburger::before {
        transform: translateY(-9px);
    }

    .line__hamburger::after {
        transform: translateY(9px);
    }

    /* hamburger open */ 

    .line__hamburger.open {
        transform: translateX(-50px);
        background: transparent;
    }

    .line__hamburger.open::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .line__hamburger.open::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* navigation links open */

    nav {
        position: relative;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        top: 0px;
        background-color: #181719;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(500px at 50% -95%);               /* Navigation links is hidden by : clip-path */
        -webkit-clip-path: circle(500px at 50% -95%);
        transition: all 0.5s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1500px at 50% -95%);
        -webkit-clip-path: circle(1500px at 50% -95%);
        pointer-events: all;
        padding: 10rem 0;
    }

    /* body open*/

    body.open {
        overflow-y: hidden;
    }
    
    /* main open */

    .main.open {
        display: none;
    }

    /* footer open */

    footer.open {
        display: none;
    }
}





/* 6:MAIN GENERAL */ 

.main {
    margin-top: 10rem;
    display: flex;
}

img {
    max-width: 100%;
}

/* MAIN GENERAL: responsive */

@media screen and (max-width:1220px) {
    .main{
        display: block;
        margin-top: 1rem;
    }
}





/* 7:MAIN TEXTE */

.main__texte {
    padding-right: 5rem;
    width: 50%;
    margin: 0 auto;
}

.main__texte h1 {
    font-family: 'Lora';
    font-weight: 100;
    font-size: 4.8rem;
}

.main__texte p {
    margin-top: 4rem;
    font-family: 'Montserrat';
    line-height: 35px;
    font-size: 2.4rem;
    font-weight: 200;
}

.main__texte a {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Montserrat';
}

.main__texte a:after {
    content: '';
    width: 40px;
    height: 35px;
    color: white;
    background: no-repeat url("../right-arrow.png");
    background-size: 40px 35px;
    margin-left: 1.5rem;
}

/* MAIN TEXTE: responsive */

@media screen and (max-width:1220px) {
    .main__texte{
        width: 70%;
        margin: 0;
    }
}

@media screen and (max-width:900px) {
    .main__texte{
        width: 90%;
    }
}

@media screen and (max-width:670px) {
    .main__texte p {
        line-height: 25px;
    }
}

@media screen and (max-width:525px) {
    .main__texte a:after {
        width: 30px;
        height: 25px;
        background-size: 30px 25px;
    }
}

@media screen and (max-width:445px) {
    .main__texte p {
        margin-top: 2rem;
    }
    .main__texte a {
        margin-top: 2rem;
    }
    .main__texte a:after {
        width: 25px;
        height: 20px;
        background-size: 25px 20px;
    }
}





/* 8:MAIN IMG */

.main__imgblock {
    position: relative;
    z-index: 10;
    width: 80%;
}

.main__userblock {
    position: absolute;
    height: 15rem;
    width: 70%;
    max-width: 70%;
    right: 10%;
    bottom: -10%;
    background-color: #181719;
        -webkit-box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);
}

.main__userblock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__userblock__iduser {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
}

.main__userblock__iduser__texte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.5rem;
    font-family: 'Montserrat';
    padding: 0.7rem 0;
}

.main__userblock__iduser__texte p {
    font-size: 1.4rem;
}

.main__userblock__iduser__texte p:nth-child(1) {
    font-weight: bold;
}

.main__userblock__iduser img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.main__userblock h4 {
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

/* MAIN IMG: responsive */

@media screen and (max-width:1220px) {
    .main__imgblock{
        margin-top: 3rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .main__userblock__iduser img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
}

@media screen and (max-width: 340px) {
    .main__userblock h4 {
        font-size: 2rem;
    }
}





/* 9:FOOTER */

footer {
    margin: 14rem 0 3rem 0;
    text-align: center;
    font-family: 'Montserrat';
    color: #A9A9A9;
    font-size: 1.4rem;
}

