/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181719;
    width: 90%;
    margin: auto;
    color: white;
}

a {
    color: white;
}

/* 
font-family: 'Crimson Pro;
font-family: 'Lora';
font-family: 'Montserrat';
*/

/* HEADER */ 

header {
    display: flex;
    justify-content: space-between;
}

nav {
    height: 10vh;
}

/* LOGO */


.logo {
    font-family: 'Crimson Pro';
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


.logo p {
    font-size: 1.25rem;
    border: 1px solid #fff;
    padding: 0.75rem 0.5rem;
}

/*  NAVIGATION LINKS */

.nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


.nav-links a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    padding: 0 2.5rem;
}

.nav-links li:nth-child(1) {
    font-weight: bold;
}

/* MEDIA QUERIES FOR NAVIGATION LINKS/HAMBURGER < 875px */ 

@media screen and (max-width: 875px) {

    /* HAMBURGER  */

    .hamburger {
        height: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .line__hamburger{
        width: 30px;
        height: 3px;
        background: #fff;
        transition: all .5s ease-in-out;
    }
    .line__hamburger::before,
    .line__hamburger::after {
        content: '';
        width: 30px;
        height: 3px;
        background: white;
        position: absolute;
        transition: all .5s ease-in-out;
    }

    .line__hamburger::before {
        transform: translateY(-9px);
    }

    .line__hamburger::after {
        transform: translateY(9px);
    }

    /* HAMBURGER OPEN */ 

    .line__hamburger.open {
        transform: translateX(-50px);
        background: transparent;
    }

    .line__hamburger.open::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .line__hamburger.open::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* NAVIGATION LINKS OPEN */

    nav {
        position: relative;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        top: 0px;
        background-color: #181719;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);               /* Navigation links is hidden by : clip-path */
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 0.7s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1500px at 90% -15%);
        -webkit-clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    /* BODY OPEN */

    body.open {
        overflow-y: hidden;
    }
    
    /* MAIN OPEN */

    .main.open {
        display: none;
    }

    footer.open {
        display: none;
    }

}

/* MAIN */ 

.main {
    margin-top: 10rem;
    display: flex;
}

img {
    max-width: 100%;
}

/* MAIN TEXTE */



/* MAIN IMG */

.main__imgblock {
    position: relative;
    z-index: 10;
}

.main__userblock {
    position: absolute;
    height: 25%;
    width: 50%;
    right: 10%;
    bottom: -10%;
    background-color: #181719;
        -webkit-box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 13px -8px rgba(0,0,0,0.75);

}

.main__userblock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__userblock__iduser {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.main__userblock__iduser__texte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    font-family: 'Montserrat';
    font-size: 1.3rem;
}

.main__userblock__iduser__texte h4 {
    font-weight: 100;
}

.main__userblock__iduser__texte h5 {
    color:#828282;
    font-size: 1rem;
}

.main__userblock__iduser img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main__userblock p {
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
}






/* FOOTER */

footer {
    margin-top: 15rem;
    text-align: center;
    font-family: 'Montserrat';
    color: #A9A9A9;
    font-size: 1.5rem;
}