/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

header h1 {
    font-weight: 600;
    font-size: 4rem;
    color: #4E5150;
    margin-top: 2rem;
    margin-left:5rem;
}

.main {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
}

@media screen and (min-width: 930px) {
    .main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .cart {
        height: 25%;
        margin-left: 2rem;
    }
    .information {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1400px) {
    .cart {
        margin-left: 5rem;
    }
    .information {
        margin-right: 5rem;
    }
}


/* CART */

.cart {
    margin-top: 2rem;
    background-color: #F2F2F2;
    border-radius: 12px;
}

.cart__container {
    display: flex;
    padding: 4rem;
}

@media screen and (max-width: 1200px) {
    .cart__container img {
        width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .cart__container {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .cart__container img {
        min-width: 90px;
    }
}

.cart__container img {
    width: 30%;
    border-radius: 12px;
    height: auto;
}

.cart__container__rightbox {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__container__rightbox p{
    color: #4E5150;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 550px) {
    .cart__container__rightbox p {
        font-size: 2rem;
    }
}

.cart__container__rightbox__price {
    display: flex;
    margin-top: 1rem;
}

.cart__container__rightbox__price p {
    color: #F2994A;
    font-size: 2rem;
}

@media screen and (max-width: 550px) {
    .cart__container__rightbox__price p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.cart__container__rightbox__price p:nth-child(2) {
    color: #4E5150;
    font-size: 1.5rem;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.cart__container__rightbox__counter {
    border: 2px solid #828282;
    padding: 2rem;
    border-radius: 12px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .cart__container__rightbox__counter {
        width: 15rem;
        padding: 1.5rem;
    }
}

.cart__container__rightbox__counter__less1 {
    background-color: #E0E0E0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.cart__container__rightbox__counter__less2 {
    background-color: #E0E0E0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.cart__container__rightbox__counter__more1 {
    background-color: #E0E0E0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.cart__container__rightbox__counter__more2 {
    background-color: #E0E0E0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

@media screen and (max-width: 600px) {
    .cart__container__rightbox__counter__less1 {
        width: 20px;
        height: 22px;
    }
    .cart__container__rightbox__counter__less2 {
        width: 20px;
        height: 22px;
    }
    .cart__container__rightbox__counter__more1 {
        width: 20px;
        height: 22px;
    }    
    .cart__container__rightbox__counter__more2 {
        width: 20px;
        height: 22px;
    }
}

.cart__container__rightbox__counter__line {
    background-color: #828282;
    width: 17px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart__container__rightbox__counter__more1 .cart__container__rightbox__counter__line:first-child {
    transform: translate(-50%, -50%) rotate(90deg);
}

.cart__container__rightbox__counter__more2 .cart__container__rightbox__counter__line:first-child {
    transform: translate(-50%, -50%) rotate(90deg);
}

.price {
    color: #333333;
    font-size: 2rem;
    font-weight: 600;
    padding: 4rem;
}

.shipping {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #BDBDBD;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #BDBDBD;
    padding-top: 2rem;
}


/* IINFORMATIONS */

h2 {
    color: #333333;
    margin-top: 4rem;
    font-size: 2rem;
}

.input__box {
    margin-top: 2rem;
}

.input__box p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4F4F4F;
    font-weight: 600;
}

.input__box__container {
    display: flex;
}

.input__box__container input {
    color:#828282;
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 4.5rem;
    border: 1px solid #828282;
    border-radius: 8px;
    position: relative;
}

.input__box__container span {
    color: #828282;
    font-size: 2.25rem;
    margin-top: 1.20rem;
    margin-left: 1rem;
    position: absolute;
    z-index: 2;
}

.input__box__container select {
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 4.5rem;
    border: 1px solid #828282;
    border-radius: 8px;
    position: relative;
}

.input__box__last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input__box select {
    color:#828282;
}

.save__information {
    margin-top: 2rem; 
    display: flex;
    align-items: center;
}

.save__information input {
    transform: scale(1.5);
    margin-left: 0.4rem;
}

.save__information p {
    margin-left: 1rem;
    color: #4F4F4F;
    font-size: 1.5rem;
    font-weight: 600;
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.button a {
    text-decoration: none;
    color: white;
    background-color: #F2994A;
    padding: 2rem 7rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    border-radius: 12px;
}


/* FOOTER */

footer p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #A9A9A9;
    font-weight: 600;
    line-height: 17px;
}